@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand-50: #edf5f7;
  --color-brand-100: #d5ebf0;
  --color-brand-200: #acd2dc;
  --color-brand-300: #89aab5;
  --color-brand-400: #4b8d9c;
  --color-brand-500: #00566b;
  --color-brand-600: #003e4d;
  --color-brand-700: #002e3b;
  --color-brand-800: #00232d;
  --color-brand-900: #001820;
  --color-brand-950: #000d12;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

button, a {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}

:focus-visible {
  outline: 3px solid var(--color-brand-400);
  outline-offset: 5px;
}

::selection {
  background: var(--color-brand-100);
  color: var(--color-brand-500);
}
